:root {
  --daum-color: rgba(89, 127, 165, 255);
  --light-white: #fafafa;
  --margin: 5px;
  --margin-double: 10px;
  --padding: 5px;
  --padding-double: 10px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --search-box-border-radius: 30px;
  --search-input-line-height: 40px;
  --card-size: 120px;
  --search-input-size: 240px;
  --search-btn-size: 40px;
}

body {
  margin: 0;
  padding: 0;
}

.search-box {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: var(--padding-double);
  border-radius: var(--search-box-border-radius);
  background: var(--daum-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* transition: 1s; */
}

.search-box.searched {
  position: absolute;
  top: 7vh;
  left: 50vw;
}

.search-input {
  border: none;
  padding: 0;
  outline: none;
  font-size: var(--font-size-medium);
  line-height: var(--search-input-line-height);
  font-weight: bold;
  background: var(--daum-color);
  color: var(--light-white);
  transition: 0.5s;
  width: var(--search-input-size);
  margin-left: var(--margin-double);
}

.search-btn {
  width: var(--search-btn-size);
  height: var(--search-btn-size);
  cursor: pointer;
}

.search-btn > i {
  transform: translate(15%, 10%);
  color: var(--light-white);
}

.list-box {
  visibility: collapse;
  position: absolute;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -80%);
  font-family: "Noto Sans KR", sans-serif;
  /* width: 655px;
  height: 816px; */
  width: 55vw;
  height: 85vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: none;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .list-box {
    width: 85vw;
  }

  .search-input {
    width: 24vw;
  }
}

.list-box.show {
  visibility: visible;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-box > ul {
  list-style-type: none;
  padding: 0;
  margin: var(--margin);
  width: var(--card-size);
}

.list-box > ul > li {
  text-align: center;
  padding: var(--padding) 0px;
  font-size: var(--font-size-small);
  width: calc(var(--card-size) + var(--margin));
}
